* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // overflow-y: overlay;
}

// scrollbar css
html {
    *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    *::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: var(--text-color);
}

.wrapper-page {
    height: 90vh;
    margin-top: 10vh;
    padding-bottom: 8px;
    width: 100%;
    overflow: auto;
}
