// default - Mobile (sm)
.grid_layout {
    width: 100%;
    display: block;
    padding: 0;
}

.grid_layout.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

// Tablet (md)
@media (min-width: 768px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

//  PC (lg)
@media (min-width: 1024px) and (max-width: 1279px) {
    .wide {
        width: 984px;
    }
}
