:root {
    --primary-color: #1c1678;
    --category-color: rgb(238, 30, 30);
    --primary-color-hover: #3931ab;
    --text-color: #363025;
    --price-color: #ef1515;
    --sale_price-color: #363025;
    --title-color: #f4b915;
    --black-color: #000;
    --white-color: #fff;

    --bg-content-admin: #eaeaea;

    --header-height: 128px;

    --header-admin-height: 64px;
    --page-admin-height: calc(100vh - var(--header-admin-height));
}
