.wrapper--login {
    background-image: url('../../../assets/images/bgr_login.png');
    background-size: cover;
    background-position: center;
    .invalid {
        .input {
            border-color: red;
        }
    }
}
