.wrapper--sidebar {
    .active {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
    .btn--logout {
        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}
